# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Variáveis de ambiente
.env
.env.local
.env.production

# Banco local
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log
logs/

# Testes e cache
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/